@import url("http://fonts.googleapis.com/css?family=Alfa+Slab+One");

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix {
display: inline-block;
}
* html .clearfix {
height: 1%;
}
.clearfix {
display: block;
}

body {
text-align: center;
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 0.93em;
background-color: #f5f5f5;
color: #000;
}

a:link, a:visited, a:active, a:hover {
color: #0000b0;
}

*:focus {
outline: #b00020 2px inset;
}

.intro {
width: 80%;
margin-left: 10%;
margin-right: auto;
}

.content {
text-align: left;
}

#pgContent {
width: 90%;
margin-left: 5%;
}

div.hd {
padding: 20px 30px 10px 30px;
margin: 20px 20px 20px 20%;
position: relative;
display: block;
text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
text-align: center;
}

h1 {
font-size: 1.6em;
outline-style: none;
font-family: 'Alfa Slab One', 'Arial Narrow', Arial, sans-serif;
position: relative;
font-weight: 400;
color: #483d8b;
text-shadow: 1px 1px 1px rgba(112,128,144,0.8);
padding: 0px 0px 5px 0px;
}

h1 span {
text-shadow: 0px 1px 1px rgba(112,128,144,0.8);
}

h2, h3, h4, h5, h6 {
font-size: 1.4em;
outline-style: none;
font-family: 'Boogaloo', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
color: #483d8b;
text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

h2 span {
text-shadow: 0px 1px 1px rgba(112,128,144,0.8);
}

i {
font-size: 0.9em;
}

.tal {
text-align: left;
}

.tac {
text-align: center;
}

div.copyright {
font-size: 0.9em;
text-align: center;
}

div.heading {
font-size: 1.1em;
font-style: italic;
color: #000099;
}

div.logo a {
display: block;
}

div.logo img {
max-width: 60%;
border: solid thin black;
}

div.menuLinks {
width: 18%;
text-align: center;
position: absolute;
}

ul.menuList {
width: 90%;
margin: 50px auto 20px 5%;
padding: 0;
clear: both;
text-align: center;
list-style: none;
}

ul.menuList > li {
width: 14%;
float: left;
border: none;
}

ul.menuList a {
display: block;
height: 100%;
width: 96%;
font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
font-size: 1.2em;
background: url("../img/pewter.jpg") #fff repeat;
-moz-box-shadow: 3px 3px 3px 3px #888;
-webkit-box-shadow: 3px 3px 3px 3px #888;
box-shadow: 3px 3px 3px 3px #888;
padding: 5% 0;
}

ul.menuList a span {
background-color: #000000;
color: #f5f5f5;
}

.clearLeft, .cl {
clear: left;
}

.clearRight, .cr {
clear: right;
}

.clearBoth, .cb {
clear: both;
}

.fl {
float: left;
}

.fr {
float: right;
}

.hidden {
display: none;
visibility: hidden;
}

ul.lsn, ol.lsn {
list-style: none;
}

.liFl {
overflow: hidden;
margin: 0;
padding: 0;
list-style: none;
}

.liFl > li {
float: left;
width: 20%;
}

code {
display: block;
padding: 5px;
margin: 10px 0 10px 10%;
color: #191970;
font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
border: solid thin black;
}

ul.menuList a.active {
color: #f5f5f5;
background: url("../img/shinymetal.jpg") #000 repeat;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}

img.loadIcon {
display: block;
margin-left: 40%;
}

div.viewport {
text-align: center;
}

div#tabInsertId {
width: 702px;
text-align: center;
margin-left: 19%;
}

a.helpIcon, a.helpIcon img {
display: block;
width: 40px;
height: 83px;
}

#scrollPane div.title {
font-size: 1.4em;
padding: 8px 0px;
text-align: center;
}

#scrollPane i {
padding: 8px 0px;
font-size: 0.7em;
float: right;
}

#pg-toggle dt {
text-align: left;
}

dt {
margin-top: 15px;
}

p.honors > * {
float: left;
margin: 10px;
width: 220px;
}

p.honors img {
width: 100%;
}

div.at-guide {
float: left;
padding: 4px;
background-color: #b00020;
font-weight: bold;
font-size: 1.2em;
text-align: left;
border: solid 1px #777;
-webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
box-shadow: 0 10px 6px -6px #777;
}

div.at-guide a {
color: #000;
}

#AccDCCurrentVer {
font-style: italic;
font-weight: bold;
font-size: 1.2em;
}
