/* WHATSOCK, 2016 */
/* Specific styles for ARIA Accordion */


#accordionGroup dt {
	position: relative;
	text-transform: uppercase;
	background: #63B7C2;
	padding: 0.3em 0.5em;
	margin-bottom: 1px;
}
#accordionGroup dd {
	text-align: center;
	background: #FFF;
}
	#accordionGroup dd img {width: 150px; vertical-align: middle; padding: 1rem;}

.accAccordion {cursor: pointer;}

.accAccordion .icon {
	display: block;
	position: absolute;
    width: 25px;
    height: 25px;
	top: 0.5em;
	right: 0.5em;
    background: url(../img/accordion/sprite.svg) right 0 no-repeat;
}

.accAccordion.open .icon {
    background: url(../img/accordion/sprite.svg) right -124px no-repeat;
}