/* WHATSOCK, 2016 */
/* Specific styles for ARIA Carousel */

/* Styling for the Auto Rotating Carousel */

#carouselId {
    display: block;
    height: 170px;
	padding-top: 3em;
	margin: 2rem 0;
}

#carouselId div.carouselCls {
    text-align: center;
}

#carouselId div.lNav, #carouselId div.rNav {
    position: absolute;
    height: 158px;
    padding: 6px;
}

#carouselId div.centerContent {
    position: absolute;
    left: 50px;
    width: 165px;
    height: 170px;
    overflow: hidden;
}
	#carouselId div.centerContent div div {transition: opacity 1s;}
	#carouselId div.centerContent div div[aria-hidden=false] {opacity: 1;}
	#carouselId div.centerContent div div[aria-hidden=true] {opacity: 0;}

#carouselId div.rNav {left: 227px;}

#carouselId .navButton {
    border: 0;
    padding: 0;
    margin: 0;
}

#carouselId .navButton {
    display: block;
	overflow: hidden;
    width: 28px;
    height: 28px;
}

	#carouselId .navButton span[aria-hidden=true] {display: none;}
	#carouselId .lNav .navButton:first-of-type {
		background: url(../img/carousel/sprite.svg) 0 -1025px no-repeat;
	}
	#carouselId .lNav .navButton:last-of-type {
		background: url(../img/carousel/sprite.svg) 0 -1385px no-repeat;
	}
	
	#carouselId .rNav .navButton:first-of-type {
		background: url(../img/carousel/sprite.svg) 0 -845px no-repeat;
	}
	#carouselId .rNav .navButton:last-of-type {
		background: url(../img/carousel/sprite.svg) 0 -1205px no-repeat;
	}

#carouselId .navSlideButton {margin-top: 40px;}

#carouselId .navGroupButton {
    margin-top: 10px;
}

#carouselId div.groupName {
    position: absolute;
    width: 165px;
	font-size: 1.3em;
    text-align: center;
    z-index: 1;
}

#carouselId div.groupName span {
	position: relative;
	top: -1rem;
	text-transform: uppercase;
	color: #49182E;
}


/* Styling for the Dynamic Wizard */

div.wizardCls {
	position: static !important;
	display: block;
	width: 90%;
	height: 200px;
	background-color: #FFF;
	margin-bottom: 2rem;
	padding: 1rem 5%;
	box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	transition: height 1s, top 1s;
	-webkit-transition: height 1s, top 1s;
	-ms-transition: height 1s, top 1s;
}

div.wizardCls div.carouselCls {background-color: #FFF;}

div.wizardCls div.lNav, div.wizardCls div.rNav {
}

div.wizardCls div.centerContent {
	position: absolute;
	left: auto;
	width: 695px;
	height: 250px;
	overflow: hidden;
}


#wizardId {
	font-family: open_sansbold,Frutiger,"Frutiger Linotype",Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	color: #FFF;
	background: #286278;
	padding: 0.3em 0.5em;
	margin-bottom: 1rem;
	border: none;
	border-radius: 3px;
	text-shadow: 0px 1px 1px #000;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
	transition: border-radius, text-shadow, box-shadow;
	-webkit-transition: border-radius, text-shadow, box-shadow;
	-ms-transition: border-radius, text-shadow, box-shadow;
}

div.wizardCls form {
	box-sizing: border-box;
	height: 130px;
	overflow: auto;
	background: #EEE;
	margin-top: 2.5rem;
	padding: 1rem;
}

	div.wizardCls form br {display: none;}
	div.wizardCls form div + div {margin-top: 1rem;}
	div.wizardCls form label {margin-bottom: 0.3rem;}

div.wizardCls div.legend {
	font-size: 0.8em;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 1em;
}


div.wizardCls .lNav, div.wizardCls .rNav {position: absolute;}
div.wizardCls .rNav {left: 595px;}
