
button.menu {
margin-left: 30px;
}

div.menu {
text-align: left;
width: 110px;
left: 100px;
top: 3px;
}

div.menu ol.menu {
list-style: none;
padding: 0;
margin: 0;
background-color: #000;
float: left;
border: solid thin #b00020;
width: 110px;
}

div.menu ol.menu > li {
margin: 2px 0px;
padding: 3px 6px;
position: relative;
}

div.menu ol.menu a {
display: block;
padding: 3px 6px;
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 0.9em;
background-color: #f5f5f5;
color: #000;
text-align: left;
cursor: pointer;
}

div.menu ol.menu a:focus {
font-weight: bold;
color: yellow;
background-color: #191970;
}

div.menu ol.menu a.submenu:before {
content: '\2192 ';
color: red;
}

a.menu2 {
padding: 2px 6px;
}

div.foMenu {
text-align: center;
width: 80%;
}

div.foMenu ul.menu2 {
list-style: none;
padding: 0;
margin: 0;
background-color: #000;
float: left;
border: solid thin #b00020;
}

div.foMenu ul.menu2 > li {
margin: 0px 2px;
padding: 6px 3px;
float: left;
width: 90px;
}

div.foMenu ul.menu2 a {
display: block;
padding: 6px 3px;
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 0.9em;
background-color: #f5f5f5;
color: #000;
text-align: center;
cursor: pointer;
}

div.foMenu ul.menu2 a:focus {
font-weight: bold;
color: yellow;
background-color: #191970;
}

div.foMenu ul.menu2 a.submenu2:before {
content: '\2193 ';
color: red;
}
