
div.menu {
text-align: center;
background-color: #000;
padding: 5px 10px;
}

ul.menu {
list-style: none;
padding: 0;
margin: 0;
}

ul.menu > li {
margin: 3px 0px;
padding: 3px 6px;
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 0.9em;
background-color: #f5f5f5;
color: #000;
text-align: left;
cursor: pointer;
}

ul.menu > li:focus {
font-weight: bold;
color: yellow;
background-color: #191970;
}

ul.menu > li.submenu:before {
content: '\2192';
color: red;
}
