
#slideshowId {
display: block;
height: 480px;
}

#slideshowId div.carouselCls {
text-align: center;
}

#slideshowId div.lNav, #slideshowId div.rNav {
position: absolute;
height: 468px;
padding: 6px;
}

#slideshowId div.centerContent {
position: absolute;
left: 50px;
width: 265px;
height: 480px;
overflow: hidden;
border: solid thin black;
}

#slideshowId div.rNav {
left: 327px;
}

#slideshowId .navButton {
border: 0;
padding: 0;
margin: 0;
}

#slideshowId .navButton {
cursor: pointer;
display: block;
text-decoration: none;
font: bold 15px/15px HelveticaNeue, Arial;
padding: 6px 6px;
border: 1px solid #dedede;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #a5b8c6;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#becbd6', endColorstr='#88a1b4'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#becbd6), to(#88a1b4)); /* WebKit */
background: -moz-linear-gradient(top, #becbd6, #88a1b4);
border-color: #000;
color: #000;
text-shadow: 0 1px 0 #c4d0d9;
-webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #ced8e0;
-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #ced8e0;
box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #ced8e0;  
}

#slideshowId div.rNav .navButton {
margin-top: 438px;
}
