/* WHATSOCK, 2016 */
/* Specific styles for Tabs */


ul.tabs {margin: 0; border-bottom: 3px solid #2E3135;}
ul.tabs + div.content {margin-bottom: 2rem;}


ul.tabs.nonARIA li {
	display: inline-block;
	list-style-type: none;
	margin: 0;
}

.tab {display: inline-block; margin: 0;}

.tab a, .tab a:link, .tab a:visited, a.tab, a.tab:link, a.tab:visited, li.tab {
	display: inline-block;
	color: #FFF;
	background: #5D1F2C;
	padding: 0.3em 0.5em 0.5em;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	cursor: pointer;
}

.tab a:hover, .tab a:focus, a.tab:hover, a.tab:focus, .tab:hover, .tab:focus {
	text-decoration: none;
	color: #FFF;
	background-color: #2E3135;
}

.tab.active a, .tab.active a:link, .tab.active a:visited, a.tab.active, li.tab.active {
	color: #FFF;
	background-color: #2E3135;
}

#tabInsertId {
	text-align: center;
	background: #FFF:
	padding: 1rem;
	border-bottom: 3px solid #2E3135;
}
	#tabInsertId div {padding: 0.5rem;}
